model/
*.model
log/
__pycache__
.ipynb_checkpoints
print.ipynb
data/
output
pretrained_model/
result/
*.pkl
*.gz
figures
others
preprecessing/image_classifier.py
*.tar
*.tar.gz
weights/
*.ckpt
food_entity_extractor
res
